<!DOCTYPE html>
<html lang="ja">
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
<div id="wrapper">
    <%- partial('_partial/menu') %>
    <div class="container">
        <main>
        </main>

        <!-- Main Content -->
        <%- body %>

    </div>
    <%- partial('_partial/footer.ejs') %>
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</div>

</body>
</html>