<!DOCTYPE html>
<html lang="ja">
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
<div id="wrapper">
    <%- partial('_partial/menu') %>
    <div class="container">

        <!-- Main Content -->
        <%
            // 記事一覧の場合article-index、過去記事の場合archive、詳細の場合article-fullへ
        %>
        <%- body %>

    </div>
    <%- partial('_partial/footer.ejs') %>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</div>

</body>
</html>