<%
    // 記事一覧ページ
    var cssClass = "style" + (index % 12 + 1);
%>
<article class="<%- cssClass %>">
    <div class="article-header">
        <div class="article-category">
            <a href="<%- config.root %><%- item.kind %>"><%= item.kind %></a>
        </div>
        <div class="article-title">
            <a href="<%- config.root %><%- item.path %>"><%- item.title || "Untitled" %></a>
        </div>
        <div class="article-created">
            <%= item.date.format(config.date_format) %>
            <% if(item.updated) { %>
                <div>
                    (update: <%= item.updated.format(config.date_format) %>)
                </div>
            <% } %>
        </div>
    </div>
    <div class="article-image">
        <% if(item.cover) { %>
            <img src="<%= item.cover %>" alt="main-image">
        <% } else if (item.category == "techs") { %>
            <img src="<%= theme.covers.techs %>" alt="main-image">
        <% } else if (item.category == "games") { %>
            <img src="<%= theme.covers.games %>" alt="main-image">
        <% } else { %>
            <img src="<%= theme.covers.default %>" alt="main-image">
        <% } %>
    </div>
    <div class="article-content">
        <div class="reading">
            <%- item.excerpt || "" %>
        </div>
        <div class="entry-more">
            <a href="<%- config.root %><%- item.path %>">
                Read more
            </a>
        </div>
    </div>
</article>